{% extends 'skillflow/base.html' %}
{% block content %}
<main class="signup-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-card">
                    <!-- Source: https://getbootstrap.com/docs/5.3/components/card/ -->
                    <h4 class="form-title">Provider Information</h4>
                    
                    <!-- Provider Info Section -->
                    <!-- Source: https://docs.djangoproject.com/en/5.1/ref/templates/builtins/#if -->
                    <div class="mb-4">
                        <div class="text-white mb-3">
                            <h6 class="text-white-50 mb-2">Name</h6>
                            {% if provider_profile.first_name or provider_profile.last_name %}
                                {{ provider_profile.first_name }} {{ provider_profile.last_name }}
                            {% else %}
                                Not provided
                            {% endif %}
                        </div>
                        
                        <div class="text-white">
                            <h6 class="text-white-50 mb-2">Bio</h6>
                            {% if provider_profile.bio %}
                                {{ provider_profile.bio }}
                            {% else %}
                                No bio provided
                            {% endif %}
                        </div>
                    </div>

                    <!-- Back Button -->
                    <!-- Source: https://getbootstrap.com/docs/5.3/components/buttons/#block-buttons -->
                    <div class="d-grid">
                        <a href="{% url 'index' %}" class="btn btn-outline-light">
                            <i class="fas fa-arrow-left"></i> Back to Services
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}