.dropdown-menu {
    margin-bottom: 5px;
}

body {
    background-color: rgb(20, 30, 40);
}

.custom-bg {
    background-color: rgb(20, 30, 40);
}

.custom-text {
    color: #00beef;
}

.custom-navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.login-btn {
    background-color: white;
    color: black;
    font-weight: bold;
}